{% extends "pages/base.html" %}

{% block title %} Computer Vision {% endblock %}

{% block content %}
<h1 style="margin: 10px 10px 40px 10px;"> Computer vision </h1>
<button type="button" class="btn btn-outline-primary">Object Counting</button>
<button type="button" class="btn btn-outline-secondary">Human Detect</button>
<button type="button" class="btn btn-outline-success">Face Detect</button>
<button type="button" class="btn btn-outline-info">Image Matching</button>
{% endblock %}
